<div class="card">
  <div class="card-header">

<%= form_with(model: category, url: categories_path, local: true, html: { multipart: true }) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :name, placeholder: 'Enter name here' %>
  </div>
</br>
  <div class="field form-group">
  <%= form.file_field :icon_file, direct_upload: true %>
  </br>
  <%= form.text_field :icon_url, placeholder: 'Enter icon url here' %>
</div>
</br>
  <div class="field form-group">
    <%= form.text_field :user_id, placeholder: 'Enter user_id here'%>
  </div>
</br>
  <div class="actions">
    <%= form.submit "Create Category" %>
  </div>
<% end %>
</div>
<%= link_to "Back to categories", categories_path %>
</div>