<p style="color: green"><%= notice %></p>
<%= link_to categories_path do %>
  <%= image_tag 'back-icon.png', alt: 'Back', class: 'back-icon' %>
<% end %>
<p style="color: green"><%= notice %></p>

<div class="container-fluid new">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row head">
        <h2><%= @category.name %></h2>
        <p><%= @category.created_at.strftime('%e%p %B %Y').strip %></p>
      </div>

      <div class="row shw">
        <% if @category.expenses.present? %>
          <% @expenses.each do |expense| %>
            <div class="row">
              <div class="col">
                <h5><%= expense.name %> - <%= number_to_currency(expense.amount, unit: '$') %></h5>
              </div>
              <div class="col">
                <%= link_to expense, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <%= image_tag 'blue-delete.png', alt: 'Delete', class: 'delete-icon' %>
                <% end %>
              </div>
              <div class="col">
                <%= link_to edit_expense_path(expense) do %>
                  <%= image_tag 'edit-icon.png', alt: 'Edit', class: 'edit-icon' %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No expenses for this category.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid ">
  <div class="row justify-content-center new2">
    
      <%= link_to "Create Expense", new_expense_path(category_id: @category.id), class: "btn  cl" %>
    </div>
 
</footer>
